<div class="container my-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card my-2">
                <figure>
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-fluid" alt="" srcset="">
                </figure>
                <div class="card-body">

                <div class="card-title">
                    <h3>item one</h3>
                </div>
                <div class="price">
                    <h5 class="text-primary">$24.99</h5>
                </div>
                <div class="card-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos ipsum corrupti numquam voluptas, voluptate vitae exercitationem! Quibusdam.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-2">
                <figure>
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-fluid" alt="" srcset="">
                </figure>
                <div class="card-body">

                <div class="card-title">
                    <h3>item one</h3>
                </div>
                <div class="price">
                    <h5 class="text-primary">$24.99</h5>
                </div>
                <div class="card-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos ipsum corrupti numquam voluptas, voluptate vitae exercitationem! Quibusdam.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-2">
                <figure>
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-fluid" alt="" srcset="">
                </figure>
                <div class="card-body">

                <div class="card-title">
                    <h3>item one</h3>
                </div>
                <div class="price">
                    <h5 class="text-primary">$24.99</h5>
                </div>
                <div class="card-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos ipsum corrupti numquam voluptas, voluptate vitae exercitationem! Quibusdam.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card my-2">
                <figure>
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-fluid" alt="" srcset="">
                </figure>
                <div class="card-body">

                <div class="card-title">
                    <h3>item one</h3>
                </div>
                <div class="price">
                    <h5 class="text-primary">$24.99</h5>
                </div>
                <div class="card-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos ipsum corrupti numquam voluptas, voluptate vitae exercitationem! Quibusdam.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>